@charset "utf-8";

.pc {display:none;}
.mobile {}

header{
    position:fixed;
    left:0;
    top:0;
    width: 100%;
    height: 108px;
    background-color:#fff;
    z-index:100;
    box-shadow: 0 7px 15px rgba(0,0,0,0.3);
}
header.active{ /*스크롤이 멈출 때 숨는경우*/
    top: -108px;   
}

.logo{
    float:left;
    width: 128px; /*255/2*/
    height: 39px;
    margin-top: 34px;
    margin-left: 7%;
}
.logo img{
    width: 100%;
    height: 100%;
}

.gnb{
    display: none;
    position:absolute;
    z-index: 10;
    top: 108px;
    left:0;
    width: 100%;
    height: 100vh;
    background-color:rgba(255,255,255,0.98);
    transition: 150ms ease-out;
}
.gnb.on{
    display: block;
}
.gnb ul{
    padding: 49px 7%;
    width: 100%;
}
.gnb ul li{
    font-size: 2rem;
    padding-bottom: 31px
}
.gnb ul li:last-child{
    padding: 0;
}
.gnb ul li a{
    width: 100%;
    color:#0b1f38;
}
.gnb ul li.current_page a{
    color:#f5a605;
    font-weight: 700;
}

.search{    
    position:absolute;
    top: 38px;
    right: 21%;
    width: 35px;
    height: 35px;
    background: url(../img/rn-icon-search.png) no-repeat;
    background-size: contain;
}
.hamburger{
    position:absolute;
    top: 36px;
    right: 7%;
    width: 36px;
    height: 35px;
}
.hamburger span{
    display: block;
    width: 36px;
    height: 2px;
    background-color:#0B1F38;
    margin-bottom: 14px;
    transition: 150ms ease-out;
}

.hamburger.open span:first-child{
    transform: rotate(45deg) translate(4px, 7px) scaleX(1.3);
    margin-left: 2px;
}
.hamburger.open span:nth-child(2){
    display:none;
}
.hamburger.open span:last-child{
    transform: rotate(-45deg) translate(4px, -7px) scaleX(1.3);
    margin-left: 2px;
}

.hamburger span:last-child{
    margin: 0;
}



#visual{
    width: 100%;
    height: 377px;
    background: url(../img/rn-visual.jpg) center/cover;
    margin-top: 108px;
}
.visual_wrap{
    position:relative;
    width: 84%;
    height: 377px;
    margin:0 auto;
}
.visual_wrap h2{
    text-indent: -9999px;
    overflow: hidden;
}
.identity{
    position:absolute;
    top:50%;
    margin-top: -85px;
    width: 100%;
    height: 170px;
}
.identity .visualLine{
    stroke-width: 2px;
    stroke: #fff;
    fill:rgba(255,255,255,0);
}

#history{
    overflow: hidden;
    width: 100%;
    height: auto;
}
.history_inner{
    width: 84%;
    margin: 0 auto;
}
.history_inner h2{
    padding-top: 90px;
    font-size: 1.8rem;
}
.history_inner h2 a{
    display: inline;
}
.history_inner h2 a::after{
    display: inline-block;
    content:'';
    width: 14px;
    height: 14px;
    background: url(../img/rn-icon-arrow.svg) no-repeat;
    background-size: contain;
    margin-left: 15px;
}
.history_inner h2 .titleLink{
    display: block;
    width: 154px;
    height: 4px;
    background-color:#f5a605;
    margin-top: 5px;
}
.slider_wrap{
    margin-top: 32px;
    position: relative;
    width: 92vw;
    height: 239px;
    overflow: scroll;
    margin-bottom: 90px;
    /*
    스크롤바는 768부터 사라짐, 
    768부터 이전/다음 버튼방식
    */
}
.slider_wrap .slides{
    position:absolute;
    vertical-align: middle;
    width: 700px;
    height: 239px;
    left: 0;
    top: 0;
}
.slider_wrap .slides li{
    float:left;
    background-position: center;
    background-size: cover;
}
.slider_wrap .slides a{
    position:relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
}
.slider_wrap .slides a span{
    position:absolute;
    left: 20px;
    bottom: 18px;
    color:#fff;
    font-size: 1.8rem;
}
.slider_wrap .slides li:nth-child(2n+1){
    display: block;
    width: 156px;
    height: 204px;
    margin-top: 18px;
}
.slider_wrap .slides li:nth-child(2n){
    display: block;
    width: 178px;
    height: 239px;
}
.slider_wrap .slides li:nth-child(1){
    background-image: url(../img/rn-history-renault.jpg);
}
.slider_wrap .slides li:nth-child(2){
    background-image: url(../img/rn-history-history.jpg);
}
.slider_wrap .slides li:nth-child(3){
    background-image: url(../img/rn-history-racing.jpg);
}
.slider_wrap .slides li:nth-child(4){
    background-image: url(../img/rn-history-future.jpg);
}
.main_wrap .next,
.main_wrap .prev{
    display: none;
    /*모바일에서는 이전다음버튼 불필요*/
}

.car_left{
    width: 100%;
    height: 305px;
    background-image: url(../img/rn-car-leftbg.jpg);
    background-position: top;
    background-size: cover;
}
.car_left .Mleft_inner{
    width: 84%;
    margin: 0 auto;
}
.car_left h2{
    padding-top: 48px;
    font-size: 1.8rem;
}
.car_left h2 a{
    display: inline;
}
.car_left h2 a::after{
    display: inline-block;
    content:'';
    width: 14px;
    height: 14px;
    background: url(../img/rn-icon-arrow.svg) no-repeat;
    background-size: contain;
    margin-left: 15px;
}
.car_left h2 .titleLink{
    display: block;
    width: 78px;
    height: 4px;
    background-color:#fff;
    margin-top: 5px;
}
.car_left strong{
    display: block;
    padding-top: 14px;
    font-size: 2.2rem;
}
.car_left ul{
    margin-top: 13px;
}
.car_left ul li{
    display: block;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #0B1F38;
    transition: 150ms ease-out;
}

.car_left ul li a{
    width: 100%;
    height: 100%;
    display: block;
    font-size: 1.2rem;
    line-height: 40px;
    transition: 150ms ease-out;
}
.car_left ul li.on{
    /*선택됐을 시*/
    border-bottom-width: 2px;
}
.car_left ul li.on a{
    font-size: 2rem;
    font-weight: 700;
    /*폰트 강약조절*/
}
.car_right{
    width: 100%;
    height: 249px;
}
.car_right .carslide{
    width: 100%;
    height: 100%;
    position:relative;
}
.car_right .carImg{
    opacity: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8)), url(../img/rn-car-1.jpg) center/cover;
    text-indent: -9999px;
    position:relative;
}

.car_right .carImg.reach::after{
    position:absolute;
    top:0;
    left:0;
    content: '';
    width: 0;
    height: 100%;
    background-color:#f0eae9;
    animation: 700ms wipe1 forwards; 
}
.car_right .carImg.reach::before{
    position:absolute;
    top:0;
    left:0;
    content: '';
    width: 0;
    height: 100%;
    background-color:#baaba9;
    animation: 700ms wipe2 forwards;
}
.car_right .carSummery{ 
    position: absolute;
    left: 8%;
    bottom: 12.048%;
}
.car_right .carSummery .c_name{
    font-size: 1.8rem;
    font-weight: 700;
    /*폰트 강약조절*/
    
    color:#fff;
    padding-bottom: 10px;
}
.car_right .carSummery .c_title{
    padding-bottom: 10px;
    display: block;
    font-size: 1.4rem;
    color:#fff;
}
.car_right .carSummery .c_summery{
    color:#fff;
    font-size: 1.2rem;
}
.car_right .carslide .btn{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
}

.media_inner{
    width: 84%;
    margin: 0 auto;
}
.media_inner h2{
    padding-top: 90px;
    font-size: 1.8rem;
}
.media_inner h2 a{
    display: inline;
}
.media_inner h2 a::after{
    display: inline-block;
    content:'';
    width: 14px;
    height: 14px;
    background: url(../img/rn-icon-arrow.svg) no-repeat;
    background-size: contain;
    margin-left: 15px;
}
.media_inner h2 .titleLink{
    display: block;
    width: 78px;
    height: 4px;
    background-color:#f5a605;
    margin-top: 5px;
}
.media_inner .video{
    width: 100%;
    padding-top: 32px;
}
.media_inner .video .youtube_area{
    width: 100%;
    height: 238px;
}
.media_inner .video iframe{
    width:100%;
    height: 100%;
}
.video b{
    padding-top:19px;
    display: inline-block;
    font-size: 1.2rem;
}
.video b::after{
    display: inline-block;
    content:'';
    width: 12px;
    height: 18px;
    background: url(../img/rn-icon-video.svg);
    vertical-align: -5px;
    margin-left: 10px;
}
.video h3{
    font-size: 2.2rem;
    font-weight: 700;
    /*폰트 강약조절*/
    
    padding-top: 15px;
}
.video p{
    font-size: 1.2rem;
    padding-top: 18px;
}

.service_inner h2{
    margin: 90px auto 0;
    font-size: 1.8rem;
    width: 84%;
}
.service_inner h2 a{
    display: inline;
}
.service_inner h2 a::after{
    display: inline-block;
    content:'';
    width: 14px;
    height: 14px;
    background: url(../img/rn-icon-arrow.svg) no-repeat;
    background-size: contain;
    margin-left: 15px;
}
.service_inner h2 .titleLink{
    display: block;
    width: 78px;
    height: 4px;
    background-color:#f5a605;
    margin-top: 5px;
}
.service_inner .banner{
    margin-top: 32px;
    height: 362px;
    width: 100%;
    background: url(../img/rn-service.jpg) center/cover;
    position:relative;
    opacity: 0;
}
.service_inner .banner.reach:after{
    content:'';
    background-color:#fff;
    width: 0;
    height: 100%;
    position:absolute;
    top: 0;
    left:0;
    opacity:0;
    animation: 1000ms wipe1 forwards;
}
.service_inner .banner.reach:before{
    content:'';
    background-color:#eee;
    width: 0;
    height: 100%;
    position:absolute;
    top: 0;
    left:0;
    animation: 850ms wipe2 forwards;
}

.service_inner .banner h3{
    font-size: 1.8rem;
    font-weight: 700;
    color:#fff;
    text-align: center;
    padding-top: 158px;
}
.service_inner .banner .btn{
    display: block;
    margin: 24px auto 0;
    font-size: 1.2rem;
    color:#fff;
    text-align: center;
    width: 105px;
    height: 35px;
    line-height: 33px;
    border: 1px solid #fff; 
}

footer{
    width: 100%;
    height: 100px;
    border-top: 1px solid #f0eae9;
    margin-top: 64px;
}
.footer_inner{
    width: 84%;
    height: 100%;
    margin: 0 auto;
}
.footer_inner .sns li{
    float:left;
    width: 29px;
    height: 29px;
    margin-right: 19px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 36px;
}
.sns li a{
    width: 100%;
    height: 100%;
    display: block;
}
.footer_inner .sns li:nth-child(1){
    background-image: url(../img/rn-sns-facebook.svg);
}
.footer_inner .sns li:nth-child(2){
    background-image: url(../img/rn-sns-naverblog.svg);
}
.footer_inner .sns li:nth-child(3){
    background-image: url(../img/rn-sns-instagram.svg);
}
.footer_inner .sns li:nth-child(4){
    background-image: url(../img/rn-sns-youtube.svg);
}

.footer_inner p{
    margin-top: 46px;
    font-size: 1.2rem;
    float:right;
}

@media all and (min-width:768px){
    .logo{
        float:left;
        width: 154px;
        height: 47px;
        margin-top: 32px;
        margin-left: 7.813%;
    }

    .search{
        right: 16.661%;
    }
    .hamburger{
        right: 7.813%;
    }
    
    .gnb ul{
        padding: 126px 7.813%;
        width: 100%;
    }
    .gnb ul li{
        font-size: 4rem;
        padding-bottom: 62px
    }
    .gnb ul li a{
        position:relative;
        width: 100%;
        height: 100%;
    }
    .gnb ul li a::after{
        transition: 150ms ease-out;
        content: '';
        position:absolute;
        right: 0;
        top:0;
        width: 70%;
        height: 50%;
        border-bottom: 2px solid rgba(245, 166, 5, 0);
    }
    .gnb ul li a:hover::after{
        border-bottom: 2px solid rgba(245, 166, 5, 1);
    }
    
    #visual{
        height: 864px;
    }
    .visual_wrap{
        width: 84.375%;
        height: 864px;
    }
    
    .history_inner{
        width: 84.375%;
    }
    .history_inner h2{
        padding-top: 180px;
        font-size: 3rem;
    }
    .history_inner h2 a::after{
        width: 18px;
        height: 18px;
        margin-left: 26px;
        transition: 150ms ease-out;
    }
    .history_inner h2 a:hover::after{
        transform:translate(20px, -20px);
    }
    .history_inner h2 .titleLink{
        width: 252px;
        height: 8px;
        margin-top: 10px;
        transition: 150ms ease-out;
    }
    .history_inner h2 a:hover + .titleLink{
        width: 272px;
    }
    .slider_wrap{
        margin-top: 73px;
        height: 480px;
        overflow: hidden;
        margin-bottom: 180px;
    }
    .slider_wrap .slides{
        width: 1296px;
        height: 480px;
    }
    .slider_wrap .slides a{
        background: none;
        transition: 150ms ease-out;
        width: 100%;
        height: 100%;
    }
    .slider_wrap .slides li{
        overflow: hidden;
        transition: 150ms ease-out;
    }
    .slider_wrap .slides li:hover a{
        background-color: rgba(0,0,0,0.5);
    }
    .slider_wrap .slides li:hover{
        transform: scale(0.9);
    }
    .slider_wrap .slides a span{
        color: #fff;
        top: 50%;
        bottom: auto;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        font-size: 3.6rem;
        transition: 150ms ease-out;
    }
    .slider_wrap .slides li:hover span{
        opacity:1;
    }
    .slider_wrap .slides li:nth-child(2n+1){
        width: 312px;
        height: 408px;
        margin-top: 36px;
    }
    .slider_wrap .slides li:nth-child(2n){
        width: 336px;
        height: 480px;
    }
    
    #history{
        position:relative;
    }
    .main_wrap .next,
    .main_wrap .prev{
        display: block;
        position:absolute;
        right: 0;
        top: 50%;
        width: 72px;
        height: 120px;
        background:url(../img/rn-icon-right.png) no-repeat center, #99b5c2;
        text-indent: -9999px;
    }
    .main_wrap .prev{
        display: none;/*제이쿼리 넣기 전까지 유지*/
        left: 0;
        right: auto;
        background-image:url(../img/rn-icon-left.png);
    }
    /*prev는 슬라이드 오른쪽으로 이동했을 때 나타난다.*/
    
    .car_left{
        width: 100%;
        height: 409px;
    }
    .car_left .Mleft_inner{
        width: 84%;
    }
    .car_left h2{
        padding-top: 101px;
        font-size: 3rem;
    }
    .car_left h2 a::after{
        width: 18px;
        height: 18px;
        margin-left: 26px;
        transition: 150ms ease-out;
    }
    .car_left h2 a:hover::after{
        transform:translate(20px, -20px);
    }
    .car_left h2 .titleLink{
        width: 126px;
        height: 8px;
        margin-top: 10px;
        transition: 150ms ease-out;
    }
    .car_left h2 a:hover + .titleLink{
        width: 146px;
    }
    .car_left strong{
        padding-top: 30px;
        font-size: 4.5rem;
    }
    .car_left ul{
        margin-top: 33px;
        display: flex;
    }
    .car_left ul li{
        width: 23.611%; /*153/648*100*/
        margin-right: 2.006%;/*13/648*100*/
        height: 74px;
        border-bottom: 2px solid #0B1F38;
        transition: 150ms ease-out;
    }
    .car_left ul li a{
        width: 100%;
        height: 100%;
        display: block;
        font-size: 2rem;
        line-height: 74px;
    }
    .car_left ul li:last-child{
        margin-right: 0;
    }
    .car_left ul li.on{
        /*선택됐을 시*/
        border-bottom-width: 6px;
        height: 74px;
    }
    .car_left ul li.on a{
        font-size: 3rem;
        font-weight: 700;
        /*폰트 강약조절*/
    }
    .car_left ul li:hover{
        border-bottom-width: 6px;
    }
    .car_right{
        width: 100%;
        height: 580px;
        background-color:#f0eae9;
    }
    .car_right .carslide{
        width: 84.375%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }
    .car_right .carImg{
        width: 100%;
        height: 430px;
        background: url(../img/rn-car-1.jpg) center/cover;
        position: absolute;
        top: -57px;
    }
    .car_right .carSummery{ 
        position: static;
        float:left;
        padding-top: 391px;
    }
    .car_right .carSummery .c_name{
        font-size: 3.5rem;
        font-weight: 700;
        color:#0B1F38;
        padding-bottom: 24px;
    }
    .car_right .carSummery .c_title{
        padding-bottom: 14px;
        display: block;
        font-size: 1.8rem;
        color:#0B1F38;
    }
    .car_right .carSummery .c_summery{
        color:#0B1F38;
        font-size: 1.8rem;
    }
    .car_right .carslide .btn{
        position:relative;
        float:right;
        width: 180px;
        height: 50px;
        text-indent: 0;
        display: block;
        border: 1px solid #0B1F38;
        margin-top: 420px;
        text-align: center;
        line-height: 48px;
        font-size: 1.7rem;
        transition: 100ms ease-out;
    }
    .car_right .carslide .btn:hover{
        color:#fff;
        background-color:#0B1F38;
    }
    
    .media_inner{
        width: 84.375%;
        height: 1435px;
        position: relative;
    }
    .media_inner .bg{
        position: absolute;
        z-index: -1;
        bottom: 0;
        right:0;
        width: 668px;
        height: 456px;
        opacity:0;
        background: url(../img/rn-news-bg.png) no-repeat center/cover;
    }
    .media_inner .bg.reach{
        animation: 500ms toRight ease-out forwards;
    }
    .media_inner h2{
        font-size: 3rem;
        margin-top: 180px;
        padding: 0;
    }
    .media_inner h2 a::after{
        width: 18px;
        height: 18px;
        margin-left: 26px;
        transition: 150ms ease-out;
    }
    .media_inner h2 a:hover::after{
        transform:translate(20px, -20px);
    }
    .media_inner h2 .titleLink{
        width: 126px;
        height: 8px;
        margin-top: 10px;
        transition: 150ms ease-out;
    }
    .media_inner h2 a:hover + .titleLink{
        width: 146px;
    }
    .media_inner .video{
        width: 100%;
        padding-top: 65px;
    }
    .media_inner .video .youtube_area{
        width: 100%;
        height: 475px;
    }
    .video b{
        padding-top:42px;
        font-size: 1.8rem;
    }
    .video b::after{
        vertical-align: -3px;
        margin-left: 15px;
    }
    .video h3{
        font-size: 4.3rem;
        font-weight: 700;
        /*폰트 강약조절*/

        padding-top: 37px;
    }
    .video p{
        font-size: 1.6rem;
        padding-top: 43px;
    }
    
    .news.pc{
        display: block;
        margin-top: 114px;
    }
    .newses{
        float: left;
        width: 29.321%;
        margin-right: 6.019%;
    }
    .newses:last-child{
        margin: 0;
    }
    .newses .news_img{
        width: 100%;
        height: 270px;
        text-indent: -9999px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position:relative;
        opacity: 0;
    }
    .newses .news_img::before{
        position:absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        content: '';
        left: 0;
        top: 0;
        background-color:#f5a605;
        transition: 150ms ease-out;
        opacity: 0;
    }
    .newses .news_img.reach::after{
        position:absolute;
        top:0;
        left:0;
        content: '';
        width: 0;
        height: 100%;
        background-color:#fff;
        animation: 700ms wipe1 forwards;
    }
    .newses .news_img:hover::before{
        top: 10px;
        left: 10px;
        opacity:1;
    }
    .newses:nth-child(1) .news_img{
        background-image: url(../img/rn-news-globalenv.jpg);
    }
    .newses:nth-child(2) .news_img{
        background-image: url(../img/rn-news-zoerelease.jpg);
    }
    .newses:nth-child(3) .news_img{
        background-image: url(../img/rn-news-masterrelease.jpg);
    }
    .newses b{
        font-size: 1.7rem;
        display: inline-block;
        margin-top: 26px;
    }
    .newses b::after{
        display: inline-block;
        content: '';
        width: 18px;
        height: 18px;
        background: url(../img/rn-icon-news.svg) no-repeat;
        background-size: contain;
        vertical-align: -2px;
        margin-left: 15px;
    }
    .newses h3{
        line-height: 28px;
        font-size: 2rem;
        font-weight: 700;
        padding-top: 10px;
    }
    .newses p{
        font-size: 1.5rem;
        padding-top: 25px;
    }
    
    .service_inner h2{
        margin: 180px auto 0;
        font-size: 3rem;
        width: 84.375%;
    }
    .service_inner h2 a::after{
        width: 18px;
        height: 18px;
        margin-left: 26px;
        transition: 150ms ease-out;
    }
    .service_inner h2 a:hover::after{
        transform:translate(20px, -20px);
    }
    .service_inner h2 .titleLink{
        width: 126px;
        height: 8px;
        margin-top: 10px;
        transition: 150ms ease-out;
    }
    .service_inner h2 a:hover + .titleLink{
        width: 146px;
    }
    .service_inner .banner{
        margin-top: 50px;
        height: 724px;
        width: 100%;
        background: url(../img/rn-service.jpg) center/cover;
    }
    .service_inner .banner h3{
        font-size: 3.5rem;
        padding-top: 304px;
    }
    .service_inner .banner .btn{
        display: block;
        margin-top: 36px;
        font-size: 1.5rem;
        color:#fff;
        text-align: center;
        width: 180px;
        height: 50px;
        line-height: 48px;
        transition: 150ms ease-out;
    }
    .service_inner .banner .btn:hover{
        background-color:#fff;
        color:#0B1F38;
    }
    
    footer{
        height: 200px;
        border-top: 2px solid #f0eae9;
        margin-top: 125px;
    }
    .footer_inner{
        width: 84%;
        height: 100%;
        margin: 0 auto;
    }
    .footer_inner .sns li{
        float:left;
        width: 58px;
        height: 58px;
        margin-right: 38px;
        margin-top: 72px;
    }

    .footer_inner p{
        margin-top: 92px;
        font-size: 2.4rem;
        float:right;
    }
}

@media all and (min-width:1024px){
    .mobile{
        display: none;
    }
    
    .logo{
        float:left;
        width: 154px;
        height: 47px;
        margin-top: 30px;
        margin-left: 5.078%;
    }
    .header_inner{
        height: 100%;
    }
    .gnb{
        display: block;
        position:static;
        z-index: 105;
        top:0;
        margin-left: 50px;
        float: left;
        width: auto;
        height: 100%;
        background-color:transparent;
    }
    .gnb ul{
        display: block;
        padding:0;
        width: auto;
        height: 100%;
    }
    .gnb ul li{
        display: inline-block;
        height: 100%;
        font-size: 1.8rem;
        padding-bottom: 0;
        width: 92px;
        text-align: center;
    }
    .gnb ul li:last-child{
        margin-right: 0;
    }
    .gnb ul li a{
        width: 100%;
        height: 100%;
        line-height: 108px;
    }
    .gnb ul li a::after{
        transition: 150ms ease-out;
        content: '';
        position:absolute;
        right: auto;
        left: 50%;
        top:70px;
        margin-left: -4px;
        width: 8px;
        height: 8px;
        background-color:rgba(245, 166, 5, 0);
        border-bottom: none;
        border-radius: 50%;
    }
    .gnb ul li a:hover::after{
        border-bottom: none;
        background-color:rgba(245, 166, 5, 1);
    }
    
    .search{    
        float:right;
        position: static;
        margin-top: 39px;
        margin-right: 5.078%;
        width: 30px;
        height: 30px;
        background: url(../img/rn-icon-search.png) no-repeat;
        background-size: contain;
    }
    
    #visual{
        height: 864px;
        background: url(../img/rn-visual.jpg) center/cover;
    }
    .visual_wrap{
        width: 89.746%;
        height: 100%;
    }
    .visual_wrap h2{
        text-indent: -9999px;
        overflow: hidden;
    }
    
    .history_inner{
        width: 89.746%;
    }
    .slider_wrap{
        margin-top: 126px;
        height: 680px;
        width: 95vw; /*972/1024*100*/
    }
    .slider_wrap .slides{
        width: 1840px;
        height: 680px;
    }
    .slider_wrap .slides a span{
        color: #fff;
        font-size: 5rem;
    }
    .slider_wrap .slides li:nth-child(2n+1){
        width: 440px;
        height: 580px;
        margin-top: 50px;
    }
    .slider_wrap .slides li:nth-child(2n){
        width: 480px;
        height: 680px;
    }
    
    #cars{
        height: 1066px;
        width: 100%;
    }
    .car_left{
        float:left;
        width: 50%;
        height: 100%;
        background-position: center;
    }
    .car_left .Mleft_inner{
        margin: 0 auto;
        width: 79.297%;
    }
    .car_left h2{
        padding-top: 139px;
    }
    .car_left strong{
        display: block;
        padding-top: 199px;
        font-size: 4.5rem;
        line-height: 1.5;
    }
    .car_left strong .line_break{
        display: block;
    }
    .car_left ul{
        width: 100%;
        height: auto;
        display: block;
        margin-top: 208px;
    }
    .car_left ul li{
        display: block;
        float: left;
        width: 46.084%; /*153/332*100*/
        margin-right: 7.229%; /*24/332*100*/
        height: 75px;
    }
    .car_left ul li:nth-child(2n){
        margin-right: 0;
    }
    
    .car_right{
        float: left;
        width: 50%;
        height: 100%;
    }
    .car_right .carslide{
        width: 79.297%;
        margin: 0 auto;
        position:static;
    }
    .car_right .carImg{
        width: 400px;
        height: 500px;
        position: relative;
        margin: 134px auto 0;
    }
    .car_right .carSummery{ 
        position: static;
        float:none;
        padding-top: 72px;
        text-align: center;
    }
    .car_right .carSummery .c_name{
        font-size: 4rem;
        font-weight: 700;
        color:#0B1F38;
        padding-bottom: 47px;
    }
    .car_right .carSummery .c_title{
        padding-bottom: 23px;
        display: block;
        font-size: 2.2rem;
        color:#0B1F38;
    }
    .car_right .carSummery .c_summery{
        color:#0B1F38;
        font-size: 2rem;
    }
    .car_right .carslide .btn{
        position:relative;
        float:none;
        display: block;
        margin: 46px auto 0;
        font-size: 1.7rem;
    }
    
    .media_inner{
        width: 89.746%;
        height: 1820px;
        position: relative;
    }
    .media_inner .bg{
        position: absolute;
        z-index: -1;
        bottom: 0;
        right:0;
        width: 761px;
        height: 521px;
        background: url(../img/rn-news-bg.png) no-repeat center/cover;
    }
    .media_inner .video{
        width: 100%;
        padding-top: 65px;
    }
    .media_inner .video .youtube_area{
        width: 100%;
        height: 680px;
    }
    .video b{
        padding-top:34px;
    }
    .newses .news_img{
        height: 380px;
    }
    
    .service_inner h2{
        width: 89.746%;
    }
    .service_inner .banner{
        margin-top: 57px;
    }
    .service_inner .banner h3{
        font-size: 5rem;
        padding-top: 290px;
    }
    .service_inner .banner .btn{
        margin-top: 60px;
        font-size: 2rem;
    }
    
    .footer_inner{
        width: 89.746%;
    }

}

@media all and (min-width:1300px){
    .logo{
        width: 138px;
        height: 43px;
        margin-top: 32px;
        margin-left: 6.25%; /*120/1920*100*/
    }
    .header_inner{
        height: 100%;
    }
    .gnb{
        display: block;
        margin-left: 74px;
    }
    .gnb ul li a{
        width: 100%;
        height: 100%;
        line-height: 108px;
    }
    
    .search{
        margin-right: 6.25%;
    }
    
    #visual{
        height: 864px;
    }
    .visual_wrap{
        width: 1153px;
        height: 100%;
    }
    
    .history_inner{
        width: 87.5%; /*1680/1920*100*/
    }
    .slider_wrap{
        margin-top: 126px;
        height: 800px;
        width: 95vw; /*972/1024*100*/
    }
    .slider_wrap .slides{
        width: 2160px;
        height: 800px; /*560+520*2*/
    }
    .slider_wrap .slides a span{
        color: #fff;
        font-size: 5rem;
    }
    .slider_wrap .slides li:nth-child(2n+1){
        width: 520px;
        height: 680px;
        margin-top: 60px;
    }
    .slider_wrap .slides li:nth-child(2n){
        width: 560px;
        height: 800px;
    }
    
    #cars{
        height: 1066px;
        width: 100%;
    }
    .car_left{
        float:left;
        width: 50%;
        height: 100%;
        background-position: center;
    }
    .car_left .Mleft_inner{
        margin: 0 auto;
        width: 75%;
    }
    .car_left strong{
        padding-top: 257px;
        font-size: 5rem;
        line-height: 1.4;
    }
    .car_left ul{
        width: 100%;
        height: auto;
        display: block;
        margin-top: 208px;
    }
    .car_left ul li{
        display: block;
        float: left;
        width: 21.25%; /*153/720*100*/
        margin-right: 3.333%; /*24/720*100*/
        height: 75px;
    }
    .car_left ul li:nth-child(2n){
        margin-right: 3.333%;
    }
    .car_left ul li:last-child{
        margin-right: 0;
    }
    
    .car_right{
        float: left;
        width: 50%;
        height: 100%;
    }
    .car_right .carslide{
        width: 79.297%;
        margin: 0 auto;
        position:static;
    }
    .car_right .carImg{
        width: 430px;
        height: 530px;
        margin: 120px auto 0;
    }
    .car_right .carSummery{ 
        position: static;
        float:none;
        padding-top: 72px;
        text-align: center;
    }
    .car_right .carslide .btn{
        margin-top: 44px;
        font-size: 2rem;
    }
    
    .media_inner{
        max-width: 1680px;
        width: 87.5%; /*1680*/
        height: 838px;
        position: relative;
        
    }
    .media_inner .bg{
        position: absolute;
        z-index: -1;
        bottom: 0;
        right:0;
        width: 668px;
        height: 456px;
        background: url(../img/rn-news-bg.png) no-repeat center/cover;
    }
        
    .media_inner .video{
        float:left;
        width: 40.476%; /*680/1680*100*/
        padding:0;
        margin-top: 61px;
        margin-right: 4.583%;
    }
    .media_inner .video .youtube_area{
        width: 100%;
        height: 510px;
    }
    .video h3{
        font-size: 4.4rem;
    }
    
    .news.pc{
        float:right;
        margin-top: 61px;
        width: 54.226%; /*911/1680*100*/
    }
    .newses{
        float: left;
        width: 29.638%; /*270/911*100*/
        margin-right: 5.269%;
    }
    .newses:last-child{
        margin: 0;
    }
    .newses .news_img{
        width: 100%;
        height: 380px;
        text-indent: -9999px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position:relative;
    }
    .newses .news_img::before{
        position:absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        content: '';
        left: 0;
        top: 0;
        background-color:#f5a605;
        transition: 150ms ease-out;
    }
    .newses .news_img:hover::before{
        top: 10px;
        left: 10px;
    }
    .newses:nth-child(1) .news_img{
        background-image: url(../img/rn-news-globalenv.jpg);
    }
    .newses:nth-child(2) .news_img{
        background-image: url(../img/rn-news-zoerelease.jpg);
    }
    .newses:nth-child(3) .news_img{
        background-image: url(../img/rn-news-masterrelease.jpg);
    }
    .newses b{
        font-size: 1.5rem;
        display: inline-block;
        margin-top: 21px;
    }
    .newses h3{
        line-height: 28px;
        font-size: 1.8rem;
        font-weight: 700;
        padding-top: 26px;
    }
    .newses p{
        font-size: 1.2rem;
        padding-top: 35px;
    }
    
    .service_inner h2{
        width: 87.5%;
    }
    .service_inner .banner{
        width: 87.5%;
        margin: 60px auto 0
    }
    .service_inner .banner h3{
        font-size: 5rem;
        padding-top: 290px;
    }
    .service_inner .banner .btn{
        margin-top: 56px;
        font-size: 2rem;
    }
    
    footer{
        border-top: 2px solid #f0eae9;
        margin-top: 125px;
    }
    .footer_inner{
        width: 87.5%;
    }
}

@media all and (min-width:2450px){
    .main_wrap .next,
    .main_wrap .prev{
        display: none;
    /*모바일에서는 이전다음버튼 불필요*/
    }
}

@keyframes toRight{
    0%{
        right: 100vw;
    }
    100%{
        right: 0;
    }
}
@keyframes wipe1{
    0%{
        width: 100%;
    }
    49%{
        opacity:1;
    }
    50%{
        width: 0;
        opacity:0;
    }
}
@keyframes wipe2{
    0%{
        width: 100%;
    }
    30%{
        width: 100%;
    }
    79%{
        opacity:1;
    }
    80%{
        width: 0;
        opacity:0;
    }
}